################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/*.exe
/*.zip
/plugins
/node.dll
/bt.dat
/bridge/resources/WiredPlayers/obj
/bridge/resources/WiredPlayers/bin
/bridge/resources/WiredPlayers/.vs
/bridge/resources/Racing
/bridge/server_logs.txt
/bridge/runtime/*
/bridge/acl.xml
/bridge/*.txt
/client_packages/*
/client_packages/cs_packages/WiredPlayers-Client/.vs
/client_packages/cs_packages/WiredPlayers-Client/bin
/client_packages/cs_packages/WiredPlayers-Client/obj
!/client_packages/index.js
!/client_packages/statics
!/client_packages/cs_packages
!/client_packages/WiredPlayers
!/bridge/runtime/MySql.Data.dll
!/bridge/runtime/Newtonsoft.Json.dll
!/bridge/runtime/System.ComponentModel.Primitives.dll
!/bridge/runtime/System.Configuration.ConfigurationManager.dll
!/bridge/runtime/System.Data.Common.dll
!/bridge/runtime/System.Data.dll
!/bridge/runtime/System.Security.Cryptography.Algorithms.dll
!/bridge/runtime/System.Security.Cryptography.Primitives.dll
!/bridge/runtime/System.Security.Permissions.dll
!/bridge/runtime/System.Text.Encoding.CodePages.dll
!/bridge/runtime/System.Text.Encoding.dll
!/bridge/runtime/System.Management.dll
/.vs/WiredPlayers/v15/.suo
/.vs/slnx.sqlite
